{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "jest", "prettier"],
  "env": {
    "node": true,
    "jest/globals": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "prefer-promise-reject-errors": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always"
      }
    ]
  }
}
